language: android

os:
  - linux

android:
  components:
    - build-tools-29.0.3
    - tools
    - platform-tools
    - extra-google-m2repository
    - extra-android-m2repository
    - android-29

install:
  - echo y | sdkmanager "ndk-bundle"
  - echo y | sdkmanager "ndk;22.0.6917172-rc1"
  - echo y | sdkmanager "cmake;3.10.2.4988404"

before_install:
  - chmod +x gradlew
  - mkdir -p .android && touch ~/.android/repositories.cfg

script:
  - ./gradlew build connectedCheck
